<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<servlet>
		<servlet-name>SuperDispatch</servlet-name>
		<servlet-class>
			com.github.rd4j.SuperDispatch
		</servlet-class>
		<init-param>
			<description></description>
			<param-name>dispatcherClassName</param-name>
			<param-value>com.github.rd4j.sample.blog.Dispatcher</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SuperDispatch</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>

